BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: None
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
BreakFunctionDefinitionParameters: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: AlwaysOnePerLine
AlignAfterOpenBracket: AlwaysBreak
IndentAccessModifiers: false
AccessModifierOffset: -4
AlwaysBreakBeforeMultilineStrings: true
BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes
NamespaceIndentation: All
PointerAlignment: Left
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
BreakBeforeBraces: Allman


