[submodule "External/GLM"]
	path = External/GLM
	url = https://github.com/g-truc/glm
	branch = master
[submodule "External/VMA"]
	path = External/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	branch = master
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "External/DDS"]
	path = External/DDS
	url = https://github.com/CloakedRex6063/DDS-Utility
	branch = master
[submodule "External/LZ4"]
	path = External/LZ4
	url = https://github.com/lz4/lz4
